@model IEnumerable<MEventObjective>;
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">
        กลุ่มเป้าหมายกิจกรรม
    </h1>
    <a class="btn btn-success" asp-action="Create">สร้าง</a>
</div>

<div class="card">

    <div class="card-body">
        <form method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-md-2 text-right">Code</label>
                        <input class="col-md-3 form-control" name="EventObjectiveCode" />
                        <label class="col-md-2 text-right">Name</label>
                        <input class="col-md-3 form-control" name="EventObjectiveName" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 text-right">สถานะ</label>
                        <select class="col-md-3 form-control" name="Status">
                            <option value="1">ใช้งาน</option>
                            <option value="2">ไม่ใช้งาน</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success btn-block">แสดงข้อมูล</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="card-body">

        @*<h5 class="card-title">กลุ่มผู้ใช้งานระบบ :</h5>*@

        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 1; }
                @foreach (var r in Model)
                {
                <tr>
                    <td width="5%" scope="row">@(rowNo++)</td>
                    <td width="15%">@r.EventObjectiveCode</td>
                    <td>@r.EventObjectiveName</td>
                    <td width="15%">@(r.Status == 1 ? "ใช้งาน":"ไม่ใช้งาน")</td>
                    <td width="15%">
                        <form method="post" asp-action="Delete">
                            <a class="btn-circle btn-sm btn-success" asp-action="Edit" asp-route-id="@r.MEventObjectiveId">แก้ไข</a>
                            <input type="hidden" name="MEventObjectiveId" value="@r.MEventObjectiveId" />
                            <button class="btn-circle btn-sm btn-warning" type="submit">ลบ</button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        @*<a class="btn btn-primary" asp-action="Create">สร้างกลุ่มใหม่</a>*@
    </div>
</div>


@section Scripts {
    @*<script src="~/js/pages/events-index.js"></script>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1,#datetimepicker2').datetimepicker({
                    format: 'd/M/Y'
                });
            });
        </script>*@
}
