@*@model List<Department>;*@

@model List<DPEMoveDAL.Models.Department>;

<div class="row">
    <div class="col-md-10">
        <h4>แสดงรายชื่อ หน่วยงาน/ศูนย์กีฬา</h4></div>
    <div class="col-md-2">
        <a class="btn btn btn-success btn-block" asp-action="CreateDep">สร้างหน่วยงาน</a>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <div class="row table table-sm table-striped">
            <div class="col-md-2">รหัสหน่วยงาน</div>
            <div class="col-md-3">ชื่อหน่วยงาน</div>
            <div class="col-md-3">E-mail</div>
            <div class="col-md-4">จัดการ</div>
        </div>
        <hr />
        @foreach (var i in Model)
        {
            <div class="row table table-sm table-striped table-condensed">
                <div class="col-md-2">@i.DepartmentId</div>
                <div class="col-md-3">@i.Department1</div>
                <div class="col-md-3">@i.Email</div>
                <div class="col-md-4">
                    <a class="btn btn-sm btn-facebook" asp-action="DepPersonCreate" asp-route-id="@i.DepartmentId">เพิ่มบุคลากร </a>

                    <a class="btn btn-sm btn-primary" asp-action="DepEdit" asp-route-id="@i.DepartmentId">แก้ไข</a>

                    <a class="btn btn-sm btn-danger" asp-action="DepDelete" asp-route-id="@i.DepartmentId">ลบ</a>
                </div>
            </div>

        }
    </div>
</div>