@model DPEMoveDAL.Models.Event

@{
    ViewData["Title"] = "ข้อมูลกิจกรรม";
}

<h4>กิจกรรม > ข้อมูลกิจกรรม</h4>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ข้อมูลทั่วไป</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">ประเภทกิจกรรม</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">สถานที่</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="settings-tab1" data-toggle="tab" href="#settings1" role="tab" aria-controls="settings1" aria-selected="false">สิ่งอำนวยความสะดวก</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="settings-tab2" data-toggle="tab" href="#settings2" role="tab" aria-controls="settings2" aria-selected="false">รายละเอียด</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="settings-tab3" data-toggle="tab" href="#settings3" role="tab" aria-controls="settings3" aria-selected="false">ภาพประกอบ</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="container">
                <div class="card">
                    <div class="card-header">Panel with panel-info class</div>
                    <div class="card-body">Panel Content</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
    <div class="tab-pane" id="settings1" role="tabpanel" aria-labelledby="settings-tab1">...</div>
    <div class="tab-pane" id="settings2" role="tabpanel" aria-labelledby="settings-tab2">...</div>
    <div class="tab-pane" id="settings3" role="tabpanel" aria-labelledby="settings-tab3">...</div>
</div>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventStartTimestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventStartTimestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventFinishTimestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventFinishTimestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StadiumCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StadiumCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsiblePerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsiblePerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsiblePersonCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsiblePersonCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReadCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReadCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventLevelEtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventLevelEtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventObjectivePersonId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventObjectivePersonId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budgetused)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budgetused)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectSelect)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectSelect)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponsiblePersonType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsiblePersonType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPersonEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonMobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPersonMobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonFax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPersonFax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonLineid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPersonLineid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.AddressId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventLevel.EventLevelCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventType.EventTypeCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
