<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">
        จัดการสถานะกิจกรรม
    </h1>
</div>

<div class="card">

    <div class="card-body">
        <form id="formSearch" method="get">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-md-2 text-right">รหัสกิจกรรม</label>
                        <input class="col-md-3 form-control" name="EventCode" />
                        <label class="col-md-2 text-right">ชื่อกิจกรรม</label>
                        <input class="col-md-3 form-control" name="EventName" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 text-right">สถานะ</label>
                        <select class="col-md-3 form-control" name="Status">
                            <option value="">ทั้งหมด</option>
                            <option value="1">ใช้งาน</option>
                            <option value="2">ไม่ใช้งาน</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" id="btnSearch" class="btn btn-success btn-block">แสดงข้อมูล</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="card-body">
        <div id="dvTotalItems">ผลการค้นหา <label id="lblTotalItems"></label> รายการ</div>
        <table class="table table-sm table-striped" id="tblResults">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">รหัสกิจกรรม</th>
                    <th scope="col">ชื่อกิจกรรม</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td width="5%" scope="row">@(10 * (Model.PageIndex - 1) + i + 1)</td>
                    <td width="15%">@Model[i].EventCode</td>
                    <td>@Model[i].EventName</td>
                    <td width="15%">@(Model[i].Status == 1 ? "ใช้งาน" : "ไม่ใช้งาน")</td>
                    <td width="15%">
                        <form method="post" asp-action="Delete">
                            <a class="btn-circle btn-sm btn-success" asp-action="Edit" asp-route-id="@Model[i].EventId">แก้ไข</a>
                            <input type="hidden" name="MEventId" value="@Model[i].EventId" />
                            <button class="btn-circle btn-sm btn-warning" type="button">ลบ</button>
                        </form>
                    </td>
                </tr>*@
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination" id="ulPagination">
                @*<li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>*@
            </ul>
        </nav>

        @*<div id="dvPagination" style="display:none">
            <input type="hidden" name="PageNumber" value="" />
            <a id="btnPrevPage" class="btn btn-default" href="javascript:void(0);" onclick="PrevPage();">
                Previous
            </a>
            <a id="lblPageIndex" class="btn btn-default" href="javascript:void(0);"></a>
            <a id="btnNextPage" class="btn btn-default" href="javascript:void(0);" onclick="NextPage();">
                Next
            </a>
        </div>*@

    </div>
</div>


@section Scripts {

<script>

    //$("#btnSearch").click(function () {
    //    $("[name='PageNumber']").val(1);
    //    GetEvents($("[name='EventCode']").val(), $("[name='EventName']").val(), $("[name='Status']").val(), $("[name='PageNumber']").val(), 10);
    //});

    function NextPage() {
        $("[name='PageNumber']").val(parseInt($("[name='PageNumber']").val()) + 1);
        GetEvents($("[name='EventCode']").val(), $("[name='EventName']").val(), $("[name='Status']").val(), $("[name='PageNumber']").val(), 10);
    }

    function PrevPage() {
        $("[name='PageNumber']").val(parseInt($("[name='PageNumber']").val()) - 1);
        GetEvents($("[name='EventCode']").val(), $("[name='EventName']").val(), $("[name='Status']").val(), $("[name='PageNumber']").val(), 10);
    }

    function GetEvents(eventCode, eventName, status, pageNumber, pageSize) {

        var settings = {
            "url": "/api/Admin/GetEvents",
            "method": "POST",
            "timeout": 0,
            "headers": {
            "Content-Type": "application/json"
            },
            "data": JSON.stringify(
                {
                    "eventCode": eventCode,
                    "eventName": eventName,
                    "status": status,
                    "pageNumber": pageNumber,
                    "pageSize" : pageSize
                }
            ),
        };

        $.ajax(settings).done(function (response, textStatus, jqXHR) {
            console.log("response", response);

            if (jqXHR.status == 200) {
                var data = response.data;
                var items = ``;
                $.each(data, function (index, value) {
                    items +=
                        `
                    <tr>
                        <td width="5%" scope="row">${ ((response.pageIndex-1) * 10 ) + index + 1 }</td>
                        <td width="15%">${ value.eventCode }</td>
                        <td>${value.eventName}</td>
                        <td width="15%">${ value.status == 1 ? "ใช้งาน" : "ไม่ใช้งาน" }</td>
                        <td width="15%">
                            <a class="btn-circle btn-sm btn-success" href=/Events/Edit/${value.eventId}>แก้ไข</a>
                        </td>
                    </tr>
                    `
                });
                $("#tblResults >tbody").html(items);
                $("#lblPageIndex").html(response.pageIndex + " / " + response.totalPages);
                $("[name='PageNumber']").val(response.pageIndex);

                if (response.totalPages > 1) {
                    $("#dvPagination").show();
                }
                else {
                    $("#dvPagination").hide();
                }

                var prevDisabled = !response.hasPreviousPage ? "disabled" : "";
                var nextDisabled = !response.hasNextPage ? "disabled" : "";
                $("#btnPrevPage").removeClass("disabled");
                $("#btnNextPage").removeClass("disabled");
                $("#btnPrevPage").addClass(prevDisabled);
                $("#btnNextPage").addClass(nextDisabled);

                GenerateTotalItems(response.totalItems, "lblTotalItems");
                GeneratePaginationHtml(pageNumber, response.totalPages, "ulPagination");
            }
        });
    }

    function GenerateTotalItems(totalItems, forId) {
        $("#" + forId).html(totalItems);
    }

    function GeneratePaginationHtml(pageNumber, totalPages, forId) {

        var url = window.location.pathname;
        var urlParam = new URLSearchParams(window.location.search);
        urlParam.delete("PageNumber");

        for (var pair of urlParam.entries()) {
             url += `&${pair[0]}=${pair[1]}`;
        }


        var pageNumber = parseInt(pageNumber == null ? 1 : pageNumber);

        var start = 1;
        var end = totalPages;
        if ((pageNumber + 5) < end) {
            end = pageNumber + 5;
        }
        start = end - 9;
        if (start < 1) {
            start = 1;
            end = Math.min(10, totalPages);
        }

        console.log("pageNumber:" + pageNumber + " totalPages:" + totalPages);
        console.log("start:" + start + " end:" + end);

        var items_1 = "";
        for (var i = start; i <= end; i++) {
            var urlWithPageNumber = (url + "&PageNumber=" + i).replace("&", "?");
            items_1 += `<li class="page-item ${i == pageNumber ? "active": ""}"><a class="page-link" href="${urlWithPageNumber}">${i}</a></li>`;
        }

        $("#" + forId).append(items_1);
    }


    $(document).ready(function () {

        var urlParam = new URLSearchParams(window.location.search);
        var p1 = urlParam.get("EventCode");
        var p2 = urlParam.get("EventName");
        var p3 = urlParam.get("Status");
        var p4 = urlParam.get("PageNumber");

        if (p1 != null) {
            $("[name='EventCode']").val(p1);
        }
        if (p2 != null) {
            $("[name='EventName']").val(p2);
        }
        if (p3 != null) {
            $("[name='Status']").val(p3);
        }

        GetEvents(p1, p2, p3, p4, 10);
    });


</script>

}
