@model VW_USER;
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">
        จัดการผู้ใช้งาน
    </h1>
</div>

<div class="card">
    <div class="card-body">
        <form asp-action="EditUser" method="post">
            <input type="hidden" name="APP_USER_ID" value="@Model.APP_USER_ID" />
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="form-group row">
                        <label class="col-md-3 text-right">Email</label>
                        <label class="col-md-6 form-control">@Model.EMAIL</label>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">Name</label>
                        <input class="col-md-6 form-control" asp-for="NAME" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">ID Card</label>
                        <input class="col-md-6 form-control" asp-for="ID_CARD_NO" />
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">กลุ่ม</label>
                        <label class="form-control" style="width: 250px;"> @Model.ACCOUNT_TYPE_NAME </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-right">กลุ่มสิทธิ์</label>
                        <select class="input-field" id="ddlGROUP" name="GROUP_ID" style="width: 250px;">
                            <option value="">กรุณาเลือก</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-2 m-0 p-0 pt-3">
                            <button type="submit" class="btn btn-success btn-block">บันทึก</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {

<script type="text/javascript">
    var routeId = @ViewBag.routeId;
    var model = @Html.Raw(Json.Serialize(Model));
    console.log('routeid=', routeId);
    console.log('model=', model);

    function GetMGroup(ForId, selectedValue) {
        var settings = {
          "url": "/api/Admin/GetMGroup",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Content-Type": "application/json"
          },
        };

        $.ajax(settings).done(function (response, textStatus, jqXHR) {

            if (jqXHR.status == 200) {
                var data = response;
                var items = `<option value="">กรุณาเลือก</option>`;
                $.each(data, function (index, value) {
                    items +=
                        `
                    <option value="` + value.groupId + `">` + value.groupName + `</option>
                    `
                });
                $("#" + ForId).html(items);


                console.log("selectedValue", selectedValue);

                if (selectedValue != null) {
                    $("#"+ForId).val(selectedValue);
                }
            }
        });
    }

    $(document).ready(function () {

        GetMGroup("ddlGROUP", model.grouP_ID);

    });


</script>


}
