
@model LoginViewModel

<div class="row">
    <div class="col-md-5 mx-auto">
        <h5>กรุณากรอกอีเมล์และรหัสผ่านเพื่อเข้าสู่ระบบ</h5>
        <hr />

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>*@

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-user btn-block">เข้าสู่ระบบ</button>
            </div>
        </form>

        <div class="form-group">

            @{
                if (Model.ExternalLogins.Count == 0)
                {
                    <div>No external logins configured</div>
                }
                else
                {
                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-facebook btn-user btn-block"
                                        name="provider" value="@provider.Name"
                                        title="Login usin your @provider.DisplayName account">
                                    <i class="fab fa-facebook-f fa-fw"></i>
                                    Login with @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                }
            }

        </div>

        <div class="text-center">
            <a asp-action="ForgotPassword">ลืมรหัสผ่าน</a>
        </div>
        <div class="text-center">
            <a asp-action="Register">ลงทะเบียน</a>
        </div>


    </div>


</div>

