
@model ApplicationUser

<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ข้อมูลส่วนตัว</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" autocomplete="off">
                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div>
                                    <h4>แก้ไขข้อมูลส่วนตัว</h4>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <select name="IdcardType"  class="form-control">
                                        <option value="1">เลขประจำตัวประชาชน</option>
                                        <option value="2">หมายเลขหนังสือเดินทาง</option>
                                    </select>
                                </div>
                                <input type="text" class="col-md-5 form-control" pattern="\d*" maxlength="13" asp-for="IdcardNo" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right">คำนำหน้า</label>
                                <select name="PrefixId" id="ddlPREFIX_TH" class="col-md-5 form-control">
                                </select>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 text-right">ชื่อ</label>
                                <input type="text" class="col-md-5 form-control" required name="Name" value="@Model.Name" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right">สกุล</label>
                                <input type="text" class="col-md-5 form-control" required name="Surname" value="@Model.Surname" />
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 text-right">เบอร์โทรศัพท์</label>
                                <input type="text" class="col-md-5 form-control" required name="TelNo" value="@Model.TelNo" />
                            </div>
                            @*<div class="form-group row">
                                    <label class="col-md-4 text-right" asp-for="Email"></label>
                                    <input class="col-md-5 form-control" required asp-for="Email" />
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 text-right" asp-for="Password"></label>
                                    <input class="col-md-5 form-control" required asp-for="Password" />
                                </div>*@
                            @*<div class="form-group row">
                                    <label class="col-md-4 text-right" asp-for="AccountType">ประเภท</label>
                                    <select asp-for="AccountType" class="col-md-5 form-control" asp-items="ViewBag.accountTypeList">
                                    </select>
                                </div>*@
                            @*<div class="form-group row">
                                    <div class="col-md-4">
                                    </div>
                                    <div>
                                        <a href="javascript:void(0)" id="btnPrivacy">นโยบายความเป็นส่วนตัว</a> • <a href="javascript:void(0)" id="btnTerm">ข้อกำหนดในการให้บริการ</a>
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-5">
                                    <input type="hidden" name="AppUserId" value="@Model.AppUserId" />
                                    <input type="hidden" name="Email" value="@Model.Email" />
                                    <button type="submit" class="button darkgreen">ยีนยัน</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="Modal_Privacy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frm_1">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>นโยบายความเป็นส่วนตัว</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div id="dvPrivacy">
                                @*<h4 class="text-center">
                                        <img src="/images/icon_app.png" width="99" height="104" alt=""> <br />
                                        <a href="/Survey">ท่านได้ตอบ แบบสำรวจ สำเร็จแล้ว <br /> คลิกที่นี่เพื่อตอบแบบสำรวจอีก</a> <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </h4>*@
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*<button type="submit" class="button darkgreen" >เพิ่ม</button>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="Modal_Term" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frm_2">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>ข้อกำหนดในการให้บริการ</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div id="dvTerm">
                                @*<h4 class="text-center">
                                        <img src="/images/icon_app.png" width="99" height="104" alt=""> <br />
                                        <a href="/Survey">ท่านได้ตอบ แบบสำรวจ สำเร็จแล้ว <br /> คลิกที่นี่เพื่อตอบแบบสำรวจอีก</a> <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </h4>*@
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*<button type="submit" class="button darkgreen" >เพิ่ม</button>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        var model = @Html.Raw(Json.Serialize(Model));
        console.log('model=', model);
    </script>

    <script type="text/javascript">

        function GetConfig(name) {

            var settings = {
                "url": "/WebApi/Master/GetConfig",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({ "name": name }),
            };

            return $.ajax(settings);
        }

        function GetToken() {
            var form = new FormData();
            form.append("username", "dpeusers");
            form.append("password", "users_api@dpe.go.th");

            var settings = {
                "url": "https://data.dpe.go.th/api/tokens/keys/tokens",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            return $.ajax(settings);
        }

        function GetPrefix(token, selectedValue) {
            var form = new FormData();
            form.append("Token", token);

            var settings = {
                "url": "https://data.dpe.go.th/api/personal/prefix/getPrefix",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            $.ajax(settings).done(function (response, status, xhr) {
                if (xhr.status == 200) {
                    var data = JSON.parse(response).data

                    var item_1 = ``
                    $.each(data, function (index, value) {
                        item_1 += `<option value="` + value.PREFIX_ID + `">` + value.PREFIX_TH + `</option>`
                    });
                    $("#ddlPREFIX_TH").html(item_1);

                    if (selectedValue != null) {
                        $("#ddlPREFIX_TH").val(selectedValue);
                    }

                }
            });
        }

        $(document).ready(function () {

            if (model.idcardType != null) {
                $("[name = 'IdcardType']").val(model.idcardType);
            }

            GetToken().done(function (response) {
                var token = JSON.parse(response).data;
                GetPrefix(token, model.prefixId);
            });
        });

        $("#btnPrivacy").click(function () {
            GetConfig("Policy").done(function (data, textStatus, jqXHR) {
                if (jqXHR.status == 200) {
                    $.each(data, function (index, value) {
                        $("#dvPrivacy").html(value.value);
                    });
                    $("#Modal_Privacy").modal("show");
                }
            });
        });

        $("#btnTerm").click(function () {
            GetConfig("Terms and Condition").done(function (data, textStatus, jqXHR) {
                if (jqXHR.status == 200) {
                    $.each(data, function (index, value) {
                        $("#dvTerm").html(value.value);
                    });
                    $("#Modal_Term").modal("show");
                }
            });
        });

    </script>

}