@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">สนามกีฬา</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row breadcrumbs-container">
            <div class="col-12">

                <div class="tx-head_green">
                    <h4><a href="/Stadium">ข้อมูลสนามกีฬา</a> &#xbb; รายละอียดสนามกีฬา</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 left_sec">
                <iframe id="googlemap" src="" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                <div class="right">
                    <a id="btnOpenMap" href="" class="btn btn-outline-default btn-round" target="_blank">ดูแผนที่</a>
                </div>
                <div class="stad_detail">

                    <table class="tbl_stad_detail">
                        <tr>
                            <td width="33"><img src="/images/icon_detail_01.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">@*ที่อยู่สนาม*@ <label id="lbl_ADDRESS"></label></td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_area.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">@*ขนาดสนาม*@ <label id="lbl_DIMENSION"></label></td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_time.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">@*เวลาเปิด-ปิด*@<label id="lbl_OPEN_DETAIL"></label></td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_detail_05.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">@*การเดินทาง*@<label id="lbl_TRANSPORT"></label></td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_builder.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">หน่วยงาน/ผู้สนับสนุนงบประมาณสร้างสนามกีฬา  : <br /><label id="lbl_BUILDING_BY"></label></td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_owner.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">หน่วยงานที่รับผิดชอบ : <br /> <label id="lbl_SUPPORT"></label></td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_address.png" width="27" height="38"></td>
                            <td style="padding-top:10px;"><label id="lbl_ADDRESS_SUPPORT">-</label></td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_phone.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">เบอร์ติดต่อ <br /> <label id="lbl_TELEPHONE"></label></td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_email.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">อีเมล <br /> <label id="lbl_EMAIL"></label></td>
                        </tr>


                        <tr>
                            <td><img src="/images/icon_tag.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">
                                <label name="lbl_NAME_LABEL" class="ForMainStadium" ></label>                            
                                <div id="dv_PARENT_STADIUM">
                                </div>                            
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/icon_field.png" width="27" height="38"></td>
                            <td style="padding-top:10px;">
                                ประเภทสนาม <br />
                                <div id="dv_UNDER_STADIUM" style="margin-top:10px;margin-left: 10px;">
                                    -
                                </div>

                            </td>
                        </tr>

                    </table>

                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 ml-auto mr-auto">
                <div class="row head_slid">
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <h2 name="lbl_NAME_LABEL">@*สนามกีฬาแห่งชาติ*@</h2>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="row con_right">
                            <div class="col">
                                <h3 id="lbl_VoteText">-</h3>
                                <p>รีวิว <span id="lbl_CommentCount">0</span> รายการ</p>
                            </div>
                            <div class="rating_box">
                                <h2 id="lbl_VoteAvg">-</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card page-carousel">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol id="indicator_GALLERY" class="carousel-indicators">
                            @*<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>*@
                        </ol>
                        <div id="inner_GALLERY" class="carousel-inner" role="listbox">
                            @*<div class="carousel-item active">
                                <img class="d-block img-fluid" src="/images/stadium/stadium1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="/images/stadium/stadium2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="/images/stadium/stadium3.jpg" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block img-fluid" src="/images/stadium/stadium4.jpg" alt="Four slide">
                            </div>*@
                        </div>
                        <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
                    </div>
                </div>

                <div>
                    @if ((int)ViewBag.AppUserId != -1)
                    {
                        <a href="#" data-toggle="modal" data-target="#Modal_AddOrEditVote">
                            <div class="box_top rating-row row">
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <h5>กดเพื่อให้คะแนน</h5>
                                    @*<div id="dv_VoteValue" class="rating">
                                        <img src="/images/ic_star.png" alt="">
                                        <img src="/images/ic_star.png" alt="">
                                        <img src="/images/ic_star.png" alt="">
                                        <img src="/images/ic_star.png" alt="">
                                        <img src="/images/ic_star.png" alt="">
                                    </div>*@
                                    <div id="dv_MyRating" class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>

                <div id="dv_facility_ICON" class="service_sec row" @*style="margin-bottom: 110px;"*@>
                    @*<div class="service_sec-box">
                        <img src="/images/icon_ser1.png" width="74" height="74">
                        <p>อินเทอร์เน็ต</p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser2.png" width="74" height="74">
                        <p>ห้องน้ำ</p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser3.png" width="74" height="74">
                        <p>ที่จอดรถ</p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser4.png" width="74" height="74">
                        <p>ร้านค้า</p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser5.png" width="74" height="74">
                        <p>
                            สิ่งอำนวย<br>
                            ความสะดวก<br>
                            สำหรับคนพิการ
                        </p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser6.png" width="74" height="74">
                        <p>เบ็ดเตล็ด</p>
                    </div>*@
                    <div class="absol_right" style="display:none">
                        <a id="lnkGotoFacility" href="#headingOne1">
                            <div class="btn btn-green">
                                <h5>
                                    ดูรายละเอียด<br>
                                    สิ่งอำนวยความสะดวก
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clear_sec nearby ForMainStadium">
                    <h3>สถานที่ใกล้เคียง </h3>
                    <div class="table-responsive">
                        <table id="tbl_PLACE_NEAR" class="table table-borderless table-hover">
                        </table>
                    </div>
                </div>
                <div>
                    <script>
                        //$(document).ready(function(){
                        //    $("#toggle-btn").click(function(){
                        //      $("#toggle-example").collapse('toggle'); // toggle collapse
                        //    });
                        //});</script>
                    <div class="rating_sec">
                        <div class="rating_head">
                            <h2>ความคิดเห็นจากผู้ใช้สนามกีฬา</h2>
                        </div>
                        <!-- Toogle Buttons -->
                        <button type="button" class="btn btn-light" id="toggle-btn"
                                data-toggle="collapse" data-target="#toggle-example">
                            <div class="rate_left">
                                <div class="rating_box">
                                    <h2 id="lbl_SURVEY_POINT_AVG">-</h2>
                                </div>
                            </div>
                            <h3 id="lbl_SURVEY_POINT_TXT">-</h3>
                            <p>ดูรีวิวแบบละเอียด</p>
                            <div class="ic_arrow"></div>
                        </button>
                        <div id="toggle-example" class="collapse in">
                            <div class="row">
                                <div id="dv_SURVEY_1A" class="col-sm-12 col-md-6 col-lg-6">
                                    <h3>สถานที่ตั้ง</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2col-md-2 col-lg-2">
                                            <h5>91</h5>
                                        </div>
                                    </div>
                                    <h3>ความสะอาด</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>96</h5>
                                        </div>
                                    </div>
                                    <h3>ที่จอดรถ</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>82</h5>
                                        </div>
                                    </div>
                                    <h3>ร้านค้า</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>90</h5>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_SURVEY_1B" class="col-sm-12 col-md-6 col-lg-6">
                                    <h3>การเดินทาง</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>91</h5>
                                        </div>
                                    </div>
                                    <h3>ห้องน้ำ</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>85</h5>
                                        </div>
                                    </div>
                                    <h3>ไฟส่องสว่าง</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>96</h5>
                                        </div>
                                    </div>
                                    <h3>WiFi</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>90</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="section">
                    <p><i class="fa fa-long-arrow-up" aria-hidden="true"></i> ได้คะแนนสูงเมื่อเทียบกับสนามกีฬาอื่นในกรุงเทพมหานคร</p>
                </div>
                <form>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">จัดเรียง</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>จัดเรียง</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">จำกัดการค้นหา</label>
                                <select class="form-control" id="exampleFormControlSelect2">
                                    <option>จำกัดการค้นหา</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="comment_sec">
                                <h3>เรียงตาม: รีวิวที่มีประโยชน์ที่สุด</h3>
                                <div class="comment_box">
                                    <div class="profile_comment"> <img src="/assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image"> </div>
                                    <div class="rating_box">
                                        <h3>9.1</h3>
                                    </div>
                                    <span class="name">Sumon</span>
                                    <div class="flag"><img src="/images/flag.png" alt="" width="16" height="11">ฝรั่งเศส</div>
                                    <div class="clear_sec sta_s">รีวิวเมื่อ: เดือน12 พฤศจิกายน 2019 </div>
                                    <div class="comment_body">
                                        <p>
                                            ตำแหน่งที่พักเดีนทางสดวกสบายมาก หาของกินร้านสดวกชื้อไม่ไกล คือโดยรวมทุกอย่างค่อนข้างโอเคร
                                            เลยอีกอย่างพนักงานต้อนรับน่ารักคอยเอาใจใส่ตลอดเลยประทับใจจริงๆ
                                        </p>
                                    </div>
                                    <div class="comment_footer"><i class="fa fa-smile-o plus" aria-hidden="true"></i> พนักงานหน้ารักทุกๆคนห้องพักสอาดที่พักเป็นธรรมชาติมาก</div>
                                </div>
                                <div class="comment_box">
                                    <div class="profile_comment"> <img src="/assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image"> </div>
                                    <div class="rating_box downward_box">
                                        <h3>8.4</h3>
                                    </div>
                                    <span class="name">Sumon</span>
                                    <div class="flag"><img src="/images/flag.png" alt="" width="16" height="11">ฝรั่งเศส</div>
                                    <div class="clear_sec sta_s">รีวิวเมื่อ: เดือน12 พฤศจิกายน 2019 </div>
                                    <div class="comment_body">
                                        <p>
                                            ตำแหน่งที่พักเดีนทางสดวกสบายมาก หาของกินร้านสดวกชื้อไม่ไกล คือโดยรวมทุกอย่างค่อนข้างโอเคร
                                            เลยอีกอย่างพนักงานต้อนรับน่ารักคอยเอาใจใส่ตลอดเลยประทับใจจริงๆ
                                        </p>
                                    </div>
                                    <div class="comment_footer"><i class="fa fa-meh-o downward" aria-hidden="true"></i> พนักงานทำความสะอาดห้องน้ำไม่ค่อยสะอาดเท่าที่ควร</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>*@
                        </div>
                    </div>
                    <div class="explan">
                        <h3>คำอธิบายสนามกีฬา <text name="lbl_NAME_LABEL"></text> </h3>
                        <p id="lbl_SPORT_DESCRIPTION"></p>
                    </div>
                    <div class="explan ForSubStadium">
                        <h4>อุปกรณ์สนาม</h4>
                        <p id="lbl_FIELD_EQUIPMENT"></p>
                    </div>
                    <div class="explan ForSubStadium">
                        <h4>อุปกรณ์กีฬา</h4>
                        <p id="lbl_SPORT_EQUIPMENT"></p>
                    </div>
                    <div class="explan ForSubStadium">
                        <h4>ไฟส่องสว่างในสนาม</h4>
                        <p id="lbl_ILLUMINATION"></p>
                        <br />
                    </div>


                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                   aria-controls="collapseOne1">
                                    <h4 class="mb-0"> สิ่งอำนวยความสะดวกของสนามกีฬา <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                                 data-parent="#accordionEx">
                                <div id="dv_SURVEY_2" class="card-body">
                                </div>
                            </div>
                        </div>


                        <div class="card ForSubStadium" style="display:none">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingSURV_TYPE_ID_3">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseSURV_TYPE_ID_3"
                                   aria-expanded="false" aria-controls="collapseSURV_TYPE_ID_3">
                                    <h4 class="mb-0"> บุคลากรประจำสนาม <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseSURV_TYPE_ID_3" class="collapse" role="tabpanel" aria-labelledby="headingSURV_TYPE_ID_3"
                                 data-parent="#accordionEx">
                                <div id="dv_SURV_TYPE_ID_3" class="card-body">
                                </div>
                            </div>
                        </div>



                        <!-- Accordion card -->
                        <!-- Accordion card -->

                        <div class="card ForMainStadium" style="display: none">

                            <div class="card-header" role="tab" id="headingTwo2">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                   aria-expanded="false" aria-controls="collapseTwo2">
                                    <h4 class="mb-0"> นโยบายสนามกีฬา <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                 data-parent="#accordionEx">

                                <div name="dv_ACCEPT_USER" class="card-body">
                                    <h5>ผู้มีสิทธิขอใช้สนามกีฬา</h5>

                                </div>

                                <br />

                                <div id="dv_REGULATION" class="card-body">
                                    <h5>ข้อปฏิบัติการใช้สนามกีฬา</h5>

                                </div>
                            </div>
                        </div>

                        <div class="card ForSubStadium" style="display:none">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingACCEPT_USER">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseACCEPT_USER"
                                   aria-expanded="false" aria-controls="collapseACCEPT_USER">
                                    <h4 class="mb-0"> ผู้มีสิทธิขอใช้สนามกีฬา <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseACCEPT_USER" class="collapse" role="tabpanel" aria-labelledby="headingACCEPT_USER"
                                 data-parent="#accordionEx">

                                <div name="dv_ACCEPT_USER" class="card-body">
                                </div>

                            </div>
                        </div>

                        <div class="card ForSubStadium" style="display:none">
                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingCHARGES">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseCHARGES"
                                   aria-expanded="false" aria-controls="collapseCHARGES">
                                    <h4 class="mb-0"> อัตราค่าใช้บริการ <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>
                            <!-- Card body -->
                            <div id="collapseCHARGES" class="collapse" role="tabpanel" aria-labelledby="headingCHARGES"
                                 data-parent="#accordionEx">
                                <div id="dv_CHARGES" class="card-body">
                                </div>
                            </div>
                        </div>

                        @*<div class="card">

            <div class="card-header" role="tab" id="headingREGULATION">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseREGULATION"
                   aria-expanded="false" aria-controls="collapseREGULATION">
                    <h4 class="mb-0"> ข้อปฏิบัติการใช้สนามกีฬา <i class="fa fa-angle-down rotate-icon"></i> </h4>
                </a>
            </div>

            <div id="collapseREGULATION" class="collapse" role="tabpanel" aria-labelledby="headingREGULATION"
                 data-parent="#accordionEx">
                <div id="dv_REGULATION" class="card-body">
                </div>
            </div>
        </div>*@


                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingThree3">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                   aria-expanded="false" aria-controls="collapseThree3">
                                    <h4 class="mb-0"> ข้อตกลงและเงื่อนไข <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                 data-parent="#accordionEx">
                                <div id="dv_AGREEMENT_XXX" class="card-body">
                                    การแสดงความคิดเห็นของท่าน:
                                    <br />
                                    เราแสดงรีวิวโดยไม่ปิดบังใดๆ ทั้งสิ้น หากเนื้อหานั้นเป็นไปตามแนวทาง  ที่กำหนด
                                    <br />
                                    <br />
                                    บทนำของข้อกำหนดและเงื่อนไข:
                                    <br />
                                    ข้อกำหนดและเงื่อนไขเหล่านี้อาจมีการเปลี่ยนแปลงแก้ไขได้ตลอดเวลาและมีผลใช้กับบริการทั้งหมดทั้งทางตรงและทางอ้อมในระบบออนไลน์ ผ่านทางอุปกรณ์พกพา อีเมล์ หรือโทรศัพท์ เมื่อท่านเข้าใช้ เลือกดู หรือใช้งานเว็บไซต์ หรือแอปพลิเคชั่นผ่านแพลตฟอร์มใดๆ จะเท่ากับว่าท่านได้รับทราบและยอมรับว่าได้อ่านทำความเข้าใจและยอมรับข้อกำหนดและเงื่อนไขนี้แล้ว
                                    <br />
                                    <br />
                                    เนื้อหาที่เราเป็นผู้เสนอบนหน้าเหล่านี้ผ่านเว็บไซต์ซึ่งกรมพลศึกษา (DPE-MOVE) ให้บริการท่านเพื่อจุดประสงค์ส่วนตัวเท่านั้นและไม่เกี่ยวข้องกับการค้าแต่อย่างใด และต้องเป็นไปตามข้อกำหนดและเงื่อนไขที่ระบุไว้
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingFour4">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                                   aria-expanded="false" aria-controls="collapseFour4">
                                    <h4 class="mb-0"> แสดงความคิดเห็น <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
                                 data-parent="#accordionEx">
                                <div class="card-body">

                                    <div class="comments">
                                        <ul id="ulComment">
                                            @*<li>
                                                <div class="comment-head">
                                                    <div class="comment-by">Anonymous</div>
                                                    <div class="comment-when">14/1/2563 17:03</div>
                                                </div>
                                                <div class="comment-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor in dui vitae egestas. In sollicitudin metus urna, quis scelerisque nunc consequat id. Aliquam dapibus magna a cursus facilisis.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment-head">
                                                    <div class="comment-by">Anonymous</div>
                                                    <div class="comment-when">14/1/2563 17:03</div>
                                                </div>
                                                <div class="comment-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor in dui vitae egestas. In sollicitudin metus urna, quis scelerisque nunc consequat id. Aliquam dapibus magna a cursus facilisis.
                                                </div>
                                            </li>*@
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                    </div>
                    <!-- Accordion wrapper -->

                    <div class="comment_sec section">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <h3>แสดงความคิดเห็น</h3>
                            <div class="row">
                                <div class="col-sm-11 col-md-11 col-lg-11">
                                    <span class="name">@UserManager.GetUserName(User)</span> <br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">เขียนความคิดเห็น</label>
                                <textarea class="form-control" id="txtComment" name="txtComment" rows="7"></textarea>
                            </div>
                            <div class="center">
                                <button type="button" class="button darkgreen" onclick="AddComment(@ViewBag.routeId)">ส่ง</button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <style>

        .tbl_stad_detail td {vertical-align: top;}

    </style>

    <script type="text/javascript">
        var routeId = @ViewBag.routeId;
        var appUserId = @ViewBag.AppUserId;

        console.log('routeid=', routeId);
        console.log('appUserId=', appUserId);
    </script>

    <script src="~/js/pages/stadium-details.js"></script>
}


<div class="modal fade bd-example-modal-lg" id="Modal_AddOrEditVote" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frmXXX">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>ให้คะแนน</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div>
                                <h4 class="text-center">
                                    กดเลือกพื่อให้คะแนน
                                    <br />
                                    <span name="lbl_NAME_LABEL">@*สนามกีฬาแห่งชาติ*@</span>
                                    <input name="voteOf" type="hidden" />
                                    <br />
                                </h4>

                                <div id="dvPopupVoteType">
                                    @*<div class="row">
                                        <div class="col-12">
                                            <p> @x.VoteType</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="5">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="4">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="3">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="2">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="1">
                                                <img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                    </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button id="btnVote" type="button" class="button darkgreen">ให้คะแนน</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>
