@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">สนามกีฬา</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 left_sec">
                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1937.7772876989332!2d100.52683082566166!3d13.745396002971782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29932a95480ab%3A0xeab9f76cf7025f3a!2z4Liq4LiZ4Liy4Lih4LiB4Li14Lis4Liy4LmB4Lir4LmI4LiH4LiK4Liy4LiV4Li0!5e0!3m2!1sth!2sth!4v1576312277149!5m2!1sth!2sth" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>*@
                <iframe id="googlemap" src="" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                @*<iframe width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDBro62OhioE6oXZ97CV8Y4AnrzfVIt4HA&q=Space+Needle,Seattle+WA" allowfullscreen>
                </iframe>*@

                <div class="right">
                    <button type="button" class="btn btn-outline-default btn-round">ดูแผนที่</button>
                </div>
                <div class="stad_detail">
                    <ul>
                        <li id="lbl_ADDRESS"><img src="/images/icon_detail_01.png" width="27" height="38"></li>
                        <li id="lbl_TELEPHONE_EMAIL">
                            <img src="/images/icon_detail_02.png" width="27" height="38"><div id="lbl_TELEPHONE">เบอร์ติดต่อ</div><div id="lbl_EMAIL">อีเมล</div>
                        </li>
                        <li id="lbl_DIMENSION"><img src="/images/icon_detail_03.png" width="27" height="38">พื้นที่สนาม <br /> </li>
                        <li>
                            <img src="/images/icon_detail_04.png" width="27" height="38">
                            <span id="lbl_OPEN_DETAIL"> - </span> <br />
                            ตั้งแต่เวลา  <span id="lbl_START_TIME"></span> - <span id="lbl_END_TIME"></span> น.
                        </li>
                        <li><img src="/images/icon_detail_05.png" width="27" height="38"> การเดินทาง <span id="lbl_TRANSPORT"></span> </li>

                        <li>
                            <hr />
                        </li>
                        <li>
                            <img src="/images/icon_detail_03.png" width="27" height="38">
                            สนามหลัก <br />

                            <div id="dv_UNDER_STADIUM_ID" style="margin-left: 40px;">
                                -
                                @*<a href="/Stadium/Details/123">
                            <div class="row">
                                <img src="/images/icon_ser6.png" width="74" height="74">
                            </div>
                            <div class="row">
                                <p>-nnn-</p>
                            </div>
                        </a>*@
                            </div>
                        </li>
                        <li>
                            <img src="/images/icon_detail_03.png" width="27" height="38">
                            สนามย่อย<br />
                            <div id="dv_UNDER_STADIUM" style="margin-left: 40px;">
                                -
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 ml-auto mr-auto">
                <div class="row head_slid">
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <h2 name="lbl_NAME_LABEL">@*สนามกีฬาแห่งชาติ*@</h2>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="row con_right">
                            <div class="col">
                                <h3 id="lbl_VoteText">-</h3>
                                <p>รีวิว <span id="lbl_CommentCount">0</span> รายการ</p>
                            </div>
                            <div class="rating_box">
                                <h2 id="lbl_VoteAvg">-</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card page-carousel">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol id="indicator_GALLERY" class="carousel-indicators">
                            @*<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>*@
                        </ol>
                        <div id="inner_GALLERY" class="carousel-inner" role="listbox">
                            @*<div class="carousel-item active">
                                    <img class="d-block img-fluid" src="/images/stadium/stadium1.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="/images/stadium/stadium2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="/images/stadium/stadium3.jpg" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-fluid" src="/images/stadium/stadium4.jpg" alt="Four slide">
                                </div>*@
                        </div>
                        <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
                    </div>
                </div>

                <div>
                    @if ((int)ViewBag.AppUserId != -1)
                    {
                        <a href="#" data-toggle="modal" data-target="#Modal_AddOrEditVote">
                            <div class="box_top row">
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <h5>กดเพื่อให้คะแนน</h5>
                                    @*<div id="dv_VoteValue" class="rating">
                                        <img src="/images/ic_star.png" alt="">
                                        <img src="/images/ic_star.png" alt="">
                                        <img src="/images/ic_star.png" alt="">
                                        <img src="/images/ic_star.png" alt="">
                                        <img src="/images/ic_star.png" alt="">
                                    </div>*@
                                    <div id="dv_MyRating" class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>

                <div id="dv_facility_ICON" class="service_sec row">
                    @*<div class="service_sec-box">
                        <img src="/images/icon_ser1.png" width="74" height="74">
                        <p>อินเทอร์เน็ต</p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser2.png" width="74" height="74">
                        <p>ห้องน้ำ</p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser3.png" width="74" height="74">
                        <p>ที่จอดรถ</p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser4.png" width="74" height="74">
                        <p>ร้านค้า</p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser5.png" width="74" height="74">
                        <p>
                            สิ่งอำนวย<br>
                            ความสะดวก<br>
                            สำหรับคนพิการ
                        </p>
                    </div>
                    <div class="service_sec-box">
                        <img src="/images/icon_ser6.png" width="74" height="74">
                        <p>เบ็ดเตล็ด</p>
                    </div>*@
                    <div class="absol_right">
                        <a id="lnkGotoFacility" href="#headingOne1">
                            <div class="btn btn-green">
                                <h5>
                                    ดูรายละเอียด<br>
                                    สิ่งอำนวยความสะดวก
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="clear_sec nearby">
                    <h3>สถานที่ใกล้เคียง </h3>
                    <div class="table-responsive">
                        <table id="tbl_PLACE_NEAR" class="table table-borderless table-hover">
                            @*<tr>
                                    <td><img src="/images/icon_pin.png" width="18" height="25"> Stadium One</td>
                                    <td>450 เมตร</td>
                                </tr>
                                <tr>
                                    <td><img src="/images/icon_pin.png" alt="" width="18" height="25">&nbsp;สถาบันเทคโนโลยีปทุมวัน</td>
                                    <td>500 เมตร</td>
                                </tr>
                                <tr>
                                    <td><img src="/images/icon_pin.png" alt="" width="18" height="25">&nbsp;สถานีรถไฟฟ้าสนามกีฬาแห่งชาติ</td>
                                    <td>550 เมตร</td>
                                </tr>
                                <tr>
                                    <td><img src="/images/icon_pin.png" alt="" width="18" height="25">&nbsp;โรงแรมปทุมวันปริ๊นเซส</td>
                                    <td>650 เมตร</td>
                                </tr>
                                <tr>
                                    <td><img src="/images/icon_pin.png" alt="" width="18" height="25">&nbsp;หอศิลปวัฒนธรรมแห่งกรุงเทพมหานคร</td>
                                    <td>750 เมตร</td>
                                </tr>
                                <tr>
                                    <td><img src="/images/icon_pin.png" alt="" width="18" height="25">&nbsp;ห้างสรรพสินค้ามาบุญครอง (MBK)</td>
                                    <td>850 เมตร</td>
                                </tr>*@
                        </table>
                    </div>
                </div>
                <div>
                    <script>
                        //$(document).ready(function(){
                        //    $("#toggle-btn").click(function(){
                        //      $("#toggle-example").collapse('toggle'); // toggle collapse
                        //    });
                        //});</script>
                    <div class="rating_sec">
                        <div class="rating_head">
                            <h2>ความคิดเห็นจากผู้ใช้สนามกีฬา</h2>
                        </div>
                        <!-- Toogle Buttons -->
                        <button type="button" class="btn btn-light" id="toggle-btn"
                                data-toggle="collapse" data-target="#toggle-example">
                            <div class="rate_left">
                                <div class="rating_box">
                                    <h2 id="lbl_SURVEY_POINT_AVG">-</h2>
                                </div>
                            </div>
                            <h3>ดีเลิศ</h3>
                            <p>ดูรีวิวแบบละเอียด</p>
                            <div class="ic_arrow"></div>
                        </button>
                        <div id="toggle-example" class="collapse in">
                            <div class="row">
                                <div id="dv_SURVEY_1A" class="col-sm-12 col-md-6 col-lg-6">
                                    <h3>สถานที่ตั้ง</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2col-md-2 col-lg-2">
                                            <h5>91</h5>
                                        </div>
                                    </div>
                                    <h3>ความสะอาด</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>96</h5>
                                        </div>
                                    </div>
                                    <h3>ที่จอดรถ</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>82</h5>
                                        </div>
                                    </div>
                                    <h3>ร้านค้า</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>90</h5>
                                        </div>
                                    </div>
                                </div>
                                <div id="dv_SURVEY_1B" class="col-sm-12 col-md-6 col-lg-6">
                                    <h3>การเดินทาง</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>91</h5>
                                        </div>
                                    </div>
                                    <h3>ห้องน้ำ</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>85</h5>
                                        </div>
                                    </div>
                                    <h3>ไฟส่องสว่าง</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 96%" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>96</h5>
                                        </div>
                                    </div>
                                    <h3>WiFi</h3>
                                    <div class="row">
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <h5>90</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="section">
                                    <p><i class="fa fa-long-arrow-up" aria-hidden="true"></i> ได้คะแนนสูงเมื่อเทียบกับสนามกีฬาอื่นในกรุงเทพมหานคร</p>
                                </div>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">จัดเรียง</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>จัดเรียง</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">จำกัดการค้นหา</label>
                                                <select class="form-control" id="exampleFormControlSelect2">
                                                    <option>จำกัดการค้นหา</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="comment_sec">
                                                <h3>เรียงตาม: รีวิวที่มีประโยชน์ที่สุด</h3>
                                                <div class="comment_box">
                                                    <div class="profile_comment"> <img src="/assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image"> </div>
                                                    <div class="rating_box">
                                                        <h3>9.1</h3>
                                                    </div>
                                                    <span class="name">Sumon</span>
                                                    <div class="flag"><img src="/images/flag.png" alt="" width="16" height="11">ฝรั่งเศส</div>
                                                    <div class="clear_sec sta_s">รีวิวเมื่อ: เดือน12 พฤศจิกายน 2019 </div>
                                                    <div class="comment_body">
                                                        <p>
                                                            ตำแหน่งที่พักเดีนทางสดวกสบายมาก หาของกินร้านสดวกชื้อไม่ไกล คือโดยรวมทุกอย่างค่อนข้างโอเคร
                                                            เลยอีกอย่างพนักงานต้อนรับน่ารักคอยเอาใจใส่ตลอดเลยประทับใจจริงๆ
                                                        </p>
                                                    </div>
                                                    <div class="comment_footer"><i class="fa fa-smile-o plus" aria-hidden="true"></i> พนักงานหน้ารักทุกๆคนห้องพักสอาดที่พักเป็นธรรมชาติมาก</div>
                                                </div>
                                                <div class="comment_box">
                                                    <div class="profile_comment"> <img src="/assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image"> </div>
                                                    <div class="rating_box downward_box">
                                                        <h3>8.4</h3>
                                                    </div>
                                                    <span class="name">Sumon</span>
                                                    <div class="flag"><img src="/images/flag.png" alt="" width="16" height="11">ฝรั่งเศส</div>
                                                    <div class="clear_sec sta_s">รีวิวเมื่อ: เดือน12 พฤศจิกายน 2019 </div>
                                                    <div class="comment_body">
                                                        <p>
                                                            ตำแหน่งที่พักเดีนทางสดวกสบายมาก หาของกินร้านสดวกชื้อไม่ไกล คือโดยรวมทุกอย่างค่อนข้างโอเคร
                                                            เลยอีกอย่างพนักงานต้อนรับน่ารักคอยเอาใจใส่ตลอดเลยประทับใจจริงๆ
                                                        </p>
                                                    </div>
                                                    <div class="comment_footer"><i class="fa fa-meh-o downward" aria-hidden="true"></i> พนักงานทำความสะอาดห้องน้ำไม่ค่อยสะอาดเท่าที่ควร</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>*@
                        </div>
                    </div>
                    <div class="explan">
                        <h3>คำอธิบายสนามกีฬา</h3>
                        <div id="lbl_DESCRIPTION"></div>
                        @*<p> สนามกีฬาแห่งชาติ เป็นสนามกีฬาที่มีขนาดใหญ่ตั้งอยู่บนถนนพระราม 1 แขวงวังใหม่ เขตปทุมวัน กรุงเทพมหานครฯ ปัจจุบันนิยมเรียกว่า “สนามศุภชลาศัย”ซึ่งอยู่ในความดูแลของกรมพลศึกษาและเมื่อวันที่ ๑๔ ธันวาคม พ.ศ. ๒๔๗๘ กรมพลศึกษาได้ทาสัญญาเช่าที่ดินของจุฬาลงกรณ์มหาวิทยาลัยณตาบลวังใหม่อาเภอปทุมวันเนื้อที่๑๑๔ ไร่ ๑ งาน ๒๕.๑๒ ตารางวา</p>
                            <p>สนามกีฬาแห่งชาติ ประกอบด้วย สนามกีฬาศุภชลาศัย สนามกีฬาเทพหัสดิน อาคารกีฬานิมิบุตรสระว่ายน้ำวิสุทธารมณ์และอาคารจันทนยิ่งยง</p>
                            <p>ภายในสนามกีฬาแห่งชาติมีสิ่งอานวยความสะดวกต่างๆอาทิเช่นลานจอดรถห้องน้าห้องน้าสาหรับคนพิการ ทางลาดส าหรับคนพิการ ไฟส่องสว่าง อินเทอร์เน็ตไร้สาย (WiFi) ร้านค้า ตู้จ าหน่ายอาหารและเครื่องดื่มอัตโนมัติเครื่องรับจ่ายเงินอัตโนมัติ (ATM) เครื่องกระตุกหัวใจ (AED) กล้องวงจรปิด และระบบรักษาความปลอดภัย</p>
                            <p>โดยมีเจ้าหน้าที่รักษาความปลอดภัยประจาอยู่ทุกจุดบริเวณโดยรอบสนามกีฬาประชาชนหรือผู้ที่มาใช้บริการสามารถมั่นใจได้ว่าจะได้รับการดูแลด้านความปลอดภัยเป็นอย่างดี</p>
                            <p> นอกจากนั้นสนามกีฬาแห่งชาติยังเป็นสนามกีฬาระดับมาตรฐานสากลแห่งแรกของประเทศไทยที่ได้รับเกียรติจัดมหกรรมกีฬาระดับชาติและนานาชาติมากมายเช่น การแข่งขันกีฬาแหลมทอง (Southeast Asian Peninsular Games) หรือ เซียปเกมส์ (SEAP Games)ครั้งที่ 1 เมื่อปีพ.ศ.2502 และครั้งที่ 2 เมื่อปี พ.ศ.250</p>*@
                    </div>

                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                   aria-controls="collapseOne1">
                                    <h4 class="mb-0"> สิ่งอำนวยความสะดวกของสนามกีฬา <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                                 data-parent="#accordionEx">
                                <div id="dv_SURVEY_2" class="card-body">

                                    @*<div class="card_list">
                                            <img src="/images/icon_ser7.png" width="80" height="78" alt="" />
                                            <h4>อินเทอร์เน็ต</h4>
                                            <p>อินเทอร์เน็ตไร้สายให้บริการทั่วสนามกีฬา</p>
                                        </div>
                                        <div class="card_list">
                                            <img src="/images/icon_ser8.png" width="80" height="78" alt="" />
                                            <h4>ห้องน้ำ</h4>
                                            <p>ห้องน้ำจำนวน 80 ห้อง  และห้องน้ำสำหรับคนพิการจำนวน 10 ห้อง</p>
                                        </div>
                                        <div class="card_list">
                                            <img src="/images/icon_ser9.png" width="80" height="78" alt="" />
                                            <h4>ที่จอดรถ</h4>
                                            <p>
                                                มีที่จอดรถสาหรับผู้มาใช้บริการในสนามกีฬาและที่จอดรถสาหรับคนพิการโดยไม่มีค่าบริการ <br>
                                                และไม่ต้องสำรองที่จอดรถ
                                            </p>
                                        </div>
                                        <div class="card_list">
                                            <img src="/images/icon_ser10.png" width="80" height="78" alt="" />
                                            <h4>ร้านค้า</h4>
                                            <p>
                                                มีที่จอดรถสาหรับผู้มาใช้บริการในสนามกีฬาและที่จอดรถสาหรับคนพิการโดยไม่มีค่าบริการ <br>
                                                และไม่ต้องสำรองที่จอดรถ
                                            </p>
                                        </div>
                                        <div class="card_list">
                                            <img src="/images/icon_ser11.png" width="80" height="78" alt="" />
                                            <h4>สิ่งอำนวยความสะดวกสำหรับคนพิการ</h4>
                                            <p>อินเทอร์เน็ตไร้สายให้บริการทั่วสนามกีฬา</p>
                                        </div>
                                        <div class="card_list">
                                            <img src="/images/icon_ser12.png" width="80" height="78" alt="" />
                                            <h4>เบ็ดเตล็ด</h4>
                                            <p>
                                                ห้องน้ำไฟส่องสว่างถังดับเพลิงกล้องวงจรปิดทางลาดสำหรับคนพิการเครื่องกระตุกหัวใจ
                                                (AED) ตู้จาหน่ายเครื่องดื่มอัตโนมัติเครื่องรับจ่ายเงินอัตโนมัติ(ATM)ระบบรักษาความปลอดภัย
                                            </p>
                                        </div>
                                        <div class="card_list">
                                            <img src="/images/icon_ser13.png" width="80" height="78" alt="" />
                                            <h4>สัตว์เลี้ยง</h4>
                                            <p>ไม่อนุญาตให้น าสัตว์เลี้ยงเข้ามาในสนามกีฬา</p>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo2">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                   aria-expanded="false" aria-controls="collapseTwo2">
                                    <h4 class="mb-0"> นโยบายของสนามกีฬา <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                 data-parent="#accordionEx">
                                <div id="dv_POLICY" class="card-body">
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingThree3">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                   aria-expanded="false" aria-controls="collapseThree3">
                                    <h4 class="mb-0"> ข้อตกลงและเงื่อนไข <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                 data-parent="#accordionEx">
                                <div id="dv_AGREEMENT" class="card-body">
                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingFour4">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                                   aria-expanded="false" aria-controls="collapseFour4">
                                    <h4 class="mb-0"> แสดงความคิดเห็น <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
                                 data-parent="#accordionEx">
                                <div class="card-body">

                                    <div class="comments">
                                        <ul id="ulComment">
                                            <li>
                                                <div class="comment-head">
                                                    <div class="comment-by">Anonymous</div>
                                                    <div class="comment-when">14/1/2563 17:03</div>
                                                </div>
                                                <div class="comment-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor in dui vitae egestas. In sollicitudin metus urna, quis scelerisque nunc consequat id. Aliquam dapibus magna a cursus facilisis.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment-head">
                                                    <div class="comment-by">Anonymous</div>
                                                    <div class="comment-when">14/1/2563 17:03</div>
                                                </div>
                                                <div class="comment-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor in dui vitae egestas. In sollicitudin metus urna, quis scelerisque nunc consequat id. Aliquam dapibus magna a cursus facilisis.
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->

                    </div>
                    <!-- Accordion wrapper -->

                    <div class="comment_sec section">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <h3>แสดงความคิดเห็น</h3>
                            <div class="row">
                                <div class="col-sm-11 col-md-11 col-lg-11">
                                    <span class="name">@UserManager.GetUserName(User)</span> <br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">เขียนความคิดเห็น</label>
                                <textarea class="form-control" id="txtComment" name="txtComment" rows="7"></textarea>
                            </div>
                            <div class="center">
                                <button type="button" class="button darkgreen" onclick="AddComment(@ViewBag.routeId)">ส่ง</button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        var routeId = @ViewBag.routeId;
        var appUserId = @ViewBag.AppUserId;

        console.log('routeid=', routeId);
        console.log('appUserId=', appUserId);
    </script>

    <script src="~/js/pages/stadium-details.js"></script>
}


<div class="modal fade bd-example-modal-lg" id="Modal_AddOrEditVote" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frmXXX">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>ให้คะแนน</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div>
                                <h4 class="text-center">
                                    กดเลือกพื่อให้คะแนน
                                    <br />
                                    <span name="lbl_NAME_LABEL">@*สนามกีฬาแห่งชาติ*@</span>
                                    <br />
                                </h4>

                                @foreach (var x in ViewBag.MVoteType as List<MVoteType>)
                                {
                                    <div class="row">
                                        <div class="col-12">
                                            <p> @x.VoteType</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="5">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="4">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="3">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="2">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="1">
                                                <img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                    </div>
                                }


                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button id="btnVote" type="button" class="button darkgreen">ให้คะแนน</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>
