@inject SignInManager<ApplicationUser> SignInManager

<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">สนามกีฬา</h2>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">

        <div class="row breadcrumbs-container">
            <div class="col-12">

                <div class="tx-head_green">
                    <h4><a href="#">สนามกีฬา</a> &#xbb; ข้อมูลสนามกีฬา</h4>
                </div>
            </div>
        </div>

        <div id="server-results"><!-- For server results --></div>

        <div class="row search-events">
            <div class="col-12">
                <div class="block-border">
                    <form id="frmSearchStadium" method="post">

                        <input type="hidden" name="PAGE" value="1" />
                        <input type="hidden" name="limit" value="10" />

                        @*<div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ช่วงวันที่
                                    </div>
                                    <div class="c field">
                                        <input id="txtEventStart" class="input-field" type="text" data-provide="datepicker" data-date-language="th-th">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ถึงวันที่
                                    </div>
                                    <div class="c field">
                                        <input id="txtEventFinish" class="input-field" type="text" data-provide="datepicker" data-date-language="th-th">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        จังหวัด
                                    </div>
                                    <div class="c field">
                                        <select class="input-field w-100" id="ddlProvince">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        อำเภอ
                                    </div>
                                    <div class="c field">
                                        <select class="input-field w-100" id="ddlAmphur">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ตำบล
                                    </div>
                                    <div class="c field">
                                        <select class="input-field w-100" id="ddlTambon">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ประเภทสนามกีฬา
                                    </div>
                                    <div class="c field">
                                        <select id="ddlStadiumType" class="input-field w-100">
                                            <option value="">แสดงทั้งหมด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="row-field clearfix">
                                    <div class="c lbl">
                                        ชื่อสนามกีฬา
                                    </div>
                                    <div class="c field">
                                        <input type="text" class="input-field" name="" id="txt_STADIUM_NAME" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-button"><button id="btnSearchStadium" type="button" class="button darkgreen" >แสดงข้อมูล</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row search-events-result">
            <div class="col-12">
                <ul id="ul-search-events-result">
                    @*<li>
                            <a href="#">
                                <div class="row event">
                                    <div class="col-12 col-sm-5 col-md-4">
                                        <div class="event-thumb"><img src="images/thumb_event1.jpg" /></div>
                                    </div>
                                    <div class="col-12 col-sm-7 col-md-8">
                                        <div class="rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star-half-o checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        <div class="event-date">17 พ.ย. 62</div>
                                        <h4>EGAT 50th For A Better Life</h4>
                                        <div class="event-place">
                                            สถานที่ : การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย (บางกรวย)<br />
                                            จ.นนทบุรี
                                        </div>
                                        <div class="row read-comment">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="read-total">อ่านแล้ว 20 คน</div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="comment-total">แสดงความคิดเห็น 120 คน</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>*@

                    @*@foreach (var e in Model)
                        {
                            <li>
                                <a asp-action="Details" asp-route-id="@e.EventId">
                                    <div class="row event">
                                        <div class="col-12 col-sm-5 col-md-4">
                                            <div class="event-thumb"><img src="@e.EventUploadedFile.FirstOrDefault()?.UploadedFile?.FileUrl" /></div>
                                        </div>
                                        <div class="col-12 col-sm-7 col-md-8">
                                            <div class="rating">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <div class="event-date">17 พ.ย. 62</div>
                                            <h4> @e.EventName</h4>
                                            <div class="event-place">
                                                สถานที่ : @e.Address?.Description [e.Address?.Description] <br />
                                                @e.Address?.ProvinceCode [e.Address?.ProvinceCode]
                                            </div>
                                            <div class="row read-comment">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="read-total">อ่านแล้ว @e.ReadCount [e.ReadCount] คน</div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="comment-total">แสดงความคิดเห็น [xxxx] คน</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }*@
                </ul>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="Modal_CreateEvent" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <form action="/Events/CreateEvent" method="post">

                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">ปิด</span>
                            </button>
                            <div class="heading">+ สร้างกิจกรรม</div>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">

                                    <div class="row">
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="row-field clearfix">
                                                <div class="c lbl">
                                                    ชื่อกิจกรรม
                                                </div>
                                                <div class="c field">
                                                    <input type="text" class="input-field" name="EventName" required value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="row-field clearfix">
                                                <div class="c lbl">
                                                    ช่วงวันที่
                                                </div>
                                                <div class="c field">
                                                    <input name="EventStartTimestamp" class="input-field" type="text" required data-provide="datepicker" data-date-language="th-th">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="row-field clearfix">
                                                <div class="c lbl">
                                                    ถึงวันที่
                                                </div>
                                                <div class="c field">
                                                    <input name="EventFinishTimestamp" class="input-field" type="text" data-provide="datepicker" data-date-language="th-th">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row">
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="row-field clearfix">
                                                    <div class="c lbl">
                                                        จังหวัด
                                                    </div>
                                                    <div class="c field">
                                                        <select class="input-field" id="ddlProvince">
                                                            <option value="">แสดงทั้งหมด</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="row-field clearfix">
                                                    <div class="c lbl">
                                                        อำเภอ
                                                    </div>
                                                    <div class="c field">
                                                        <select class="input-field" id="ddlAmphur">
                                                            <option value="">แสดงทั้งหมด</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="row-field clearfix">
                                                    <div class="c lbl">
                                                        ตำบล
                                                    </div>
                                                    <div class="c field">
                                                        <select class="input-field" id="ddlTambon">
                                                            <option value="">แสดงทั้งหมด</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="row-field clearfix">
                                                    <div class="c lbl">
                                                        ประเภทกิจกรรม
                                                    </div>
                                                    <div class="c field">
                                                        <select class="input-field">
                                                            <option value="">แสดงทั้งหมด</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right">
                                    @*<button type="button" class="button darkgreen" data-dismiss="modal" onclick="CreateEvent()">สร้าง</button>*@
                                    <button type="submit" class="button darkgreen">สร้าง</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>

                    </form>

                </div>
            </div>
        </div>




    </div>
</div>




@section Scripts {

    <script src="~/js/pages/stadium-index.js"></script>
}

