@model DPEMoveDAL.ViewModels.EventViewModel2
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="page-breadcrumbs" style="background-image: url('/images/bg-bc.jpg')">
    <div class="wellcome_sec">
        <div class="container">
            <div class="wellcome">
                <p>ยินดีต้อนรับสู่กรมพลศึกษา กระทรวงการท่องเที่ยวและกีฬา</p>
            </div>
        </div>
    </div>
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <h2 class="presentation-subtitle text-center">ข้อมูลกิจกรรม</h2>
        </div>
    </div>
</div>
<div class="section_s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="tx-head_green">
                    <h4>ข้อมูลกิจกรรม &#xbb; รายละอียด</h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="row con_right">
                    <div class="col">
                        @if (Model.CreatedBy == (int)ViewBag.AppUserId)
                        {
                            <button type="button" class="btn btn-danger btn-round" data-toggle="modal" data-target="#Modal_DeleteEvent">ลบ</button>
                            <a href="/Events/Edit/@Model.EventId" class="btn btn-green btn-round">แก้ไข</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box_top">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h3>@Model.EventName</h3>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <div class="share"><a href="#"><img src="/images/ic_share-01.png" alt="" /></a><a href="#"><img src="/images/ic_share-02.png" alt="" /></a><img src="/images/ic_share-03.png" alt="" /><img src="/images/ic_share-04.png" alt="" /></div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <div class="rateing_box">
                            <div class="row con_right">
                                <div class="col">
                                    <h3 id="lbl_VoteText">-</h3>
                                    <p>รีวิว <span id="lbl_CommentCount">0</span> รายการ</p>
                                </div>
                                <div class="rating_box">
                                    <h2 id="lbl_VoteAvg">-</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="card page-carousel">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    @for (int i = 0; i < Model.UploadedFile.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                                        }
                                    }
                                </ol>
                                <div class="carousel-inner" role="listbox">

                                    @for (int i = 0; i < Model.UploadedFile.Count; i++)
                                    {
                                        <div class="carousel-item @(i==0?"active":"")">
                                            <img class="d-block img-fluid" src="@Model.UploadedFile[i].FileUrl" alt="slide">
                                        </div>
                                    }
                                </div>
                                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="box_right">
                            <h4>วันที่จัดกิจกรรม</h4>
                            <p>
                                วันที่ @Model.EventStartTimestamp.ToString("dd MMM yy") @(Model.EventStartTimestamp.ToString("HH:mm") != "00:00" ? Model.EventStartTimestamp.ToString("HH:mm") : "")
                                @if (Model.EventStartTimestamp.ToString("dd MMM yy") == Model.EventFinishTimestamp?.ToString("dd MMM yy"))
                                {
                                    if (Model.EventFinishTimestamp > Model.EventStartTimestamp)
                                    {
                                        <span> - @Model.EventFinishTimestamp?.ToString("HH:mm")</span>
                                    }
                                }

                                <br>
                                @if (Model.EventStartTimestamp.ToString("dd MMM yy") != Model.EventFinishTimestamp?.ToString("dd MMM yy"))
                                {
                                    <span>ถึงวันที่ @Model.EventFinishTimestamp?.ToString("dd MMM yy") @(Model.EventFinishTimestamp?.ToString("HH:mm") != "00:00" ? Model.EventFinishTimestamp?.ToString("HH:mm") : "")</span>
                                }

                            </p>
                            <hr>
                            <h4>สถานที่จัดกิจกรรม</h4>
                            <div class="map">
                                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1937.7772876989332!2d100.52683082566166!3d13.745396002971782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29932a95480ab%3A0xeab9f76cf7025f3a!2z4Liq4LiZ4Liy4Lih4LiB4Li14Lis4Liy4LmB4Lir4LmI4LiH4LiK4Liy4LiV4Li0!5e0!3m2!1sth!2sth!4v1576312277149!5m2!1sth!2sth" width="100" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                    <iframe id="gmap" src="https://maps.google.com/maps?q=13.73574120,100.52648960&hl=th&z=14&amp;output=embed" width="100" height="100" frameborder="0" style="border:0;" allowfullscreen=""></iframe>*@
                            </div>
                            <p>
                                <img src="/images/ic_pin.png" width="28" height="39" alt="" />
                                @Model.BuildingName @Model.No @Model.Soi @Model.Road
                                <span id="lblTambonName"></span>
                                <span id="lblAmphurName"></span>
                                <span id="lblProvinceName"></span>
                            </p>
                            <div class="right">
                                <button type="button" class="btn btn-outline-default btn-round">ดูแผนที่</button>
                            </div>

                            @if (!string.IsNullOrEmpty(Model.ContactPersonMobile))
                            {
                                <hr>
                                <h4>ข้อมูลติดต่อ</h4>
                                <p>
                                    @Model.ContactPersonMobile<br>
                                    @if (!string.IsNullOrEmpty(Model.ContactPersonEmail))
                                    {
                                        <span>อิเมล์</span><a href="mailto:@(Model.ContactPersonEmail)">@Model.ContactPersonEmail</a>
                                    }
                                </p>
                            }

                        </div>
                        <div class="box_right_bottom">
                            <div class="service_sec row">

                                @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 3))
                                {
                                    <div class="service_sec-box">
                                        <img src="/images/icon_ser1.png" width="74" height="74">
                                        <p>อินเทอร์เน็ต</p>
                                    </div>
                                }
                                @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 1))
                                {
                                    <div class="service_sec-box">
                                        <img src="/images/icon_ser2.png" width="74" height="74">
                                        <p>ห้องน้ำ</p>
                                    </div>
                                }
                                @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 2))
                                {
                                    <div class="service_sec-box">
                                        <img src="/images/icon_ser3.png" width="74" height="74">
                                        <p>ที่จอดรถ</p>
                                    </div>
                                }
                                @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 4))
                                {
                                    <div class="service_sec-box">
                                        <img src="/images/icon_ser4.png" width="74" height="74">
                                        <p>ร้านค้า</p>
                                    </div>

                                }
                                @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 5))
                                {
                                    <div class="service_sec-box">
                                        <img src="/images/icon_ser5.png" width="74" height="74">
                                        <p>
                                            สิ่งอำนวย<br>
                                            ความสะดวก<br>
                                            สำหรับคนพิการ
                                        </p>
                                    </div>
                                }
                                @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 6))
                                {
                                    <div class="service_sec-box">
                                        <img src="/images/icon_ser6.png" width="74" height="74">
                                        <p>เบ็ดเตล็ด</p>
                                    </div>
                                }
                                @if (@Model.EventFacilities.Any())
                                {
                                    <div class="absol_right">
                                        <a id="lnkGotoFacility" href="#headingOne1">
                                            <div class="btn btn-green">
                                                <h5>
                                                    ดูรายละเอียด<br>
                                                    สิ่งอานวยความสะดวก
                                                </h5>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            @if ((int)ViewBag.AppUserId != -1)
            {
                <a href="#" data-toggle="modal" data-target="#Modal_AddOrEditVote">
                    <div class="box_top row">
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <h5>กดเพื่อให้คะแนน</h5>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-10">
                            @*<div id="dv_VoteValue" class="rating">
                                <img src="/images/ic_star.png" alt="">
                                <img src="/images/ic_star.png" alt="">
                                <img src="/images/ic_star.png" alt="">
                                <img src="/images/ic_star.png" alt="">
                                <img src="/images/ic_star.png" alt="">
                            </div>*@
                            <div id="dv_MyRating" class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<div class="section2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ml-auto mr-auto">
                <div class="clear_sec nearby2">
                    <h3>สถานที่ใกล้เคียง </h3>
                    <div class="table-responsive">
                        <table class="table table-borderless table-hover">

                            @foreach (var x in Model.EventNearby)
                            {
                                <tr>
                                    <td><img src="/images/icon_pin.png" width="18" height="25"> @x.NearbyName</td>
                                    <td>@x.Distance @x.DistanceUnit</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div>

                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class="card">

                            <div class="card-header" role="tab" id="headingFive5">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5" aria-expanded="true"
                                   aria-controls="collapseFive5">
                                    <h4 class="mb-0"> รายละเอียดของงาน <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
                                 data-parent="#accordionEx">
                                <div class="card-body">

                                    @Html.Raw(Model.EventDescription)


                                </div>
                            </div>
                        </div>

                        <div class="card">


                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                   aria-controls="collapseOne1">
                                    <h4 class="mb-0"> สิ่งอานวยความสะดวก <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                                 data-parent="#accordionEx">
                                <div class="card-body">

                                    @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 3))
                                    {
                                        <div class="card_list">
                                            <img src="/images/icon_ser7.png" width="80" height="78" alt="" />
                                            <h4>อินเทอร์เน็ต</h4>
                                            <p>
                                                @foreach (var x in Model.EventFacilities.Where(a => a.MEventFacilitiesTopicId == 3))
                                                {
                                                    @x.EventFacilitiesName @x.FacilitiesAmount @x.FacilitiesUnit <br />
                                                }
                                            </p>
                                        </div>
                                    }
                                    @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 1))
                                    {
                                        <div class="card_list">
                                            <img src="/images/icon_ser8.png" width="80" height="78" alt="" />
                                            <h4>ห้องน้ำ</h4>
                                            <p>
                                                @foreach (var x in Model.EventFacilities.Where(a => a.MEventFacilitiesTopicId == 1))
                                                {
                                                    @x.EventFacilitiesName @x.FacilitiesAmount @x.FacilitiesUnit <br />
                                                }
                                            </p>
                                        </div>
                                    }
                                    @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 2))
                                    {
                                        <div class="card_list">
                                            <img src="/images/icon_ser9.png" width="80" height="78" alt="" />
                                            <h4>ที่จอดรถ</h4>
                                            <p>
                                                @foreach (var x in Model.EventFacilities.Where(a => a.MEventFacilitiesTopicId == 2))
                                                {
                                                    @x.EventFacilitiesName @x.FacilitiesAmount @x.FacilitiesUnit <br />}
                                            </p>
                                        </div>
                                    }
                                    @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 4))
                                    {
                                        <div class="card_list">
                                            <img src="/images/icon_ser10.png" width="80" height="78" alt="" />
                                            <h4>ร้านค้า</h4>
                                            <p>
                                                @foreach (var x in Model.EventFacilities.Where(a => a.MEventFacilitiesTopicId == 4))
                                                {
                                                    @x.EventFacilitiesName @x.FacilitiesAmount @x.FacilitiesUnit <br />
                                                }
                                            </p>
                                        </div>
                                    }
                                    @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 5))
                                    {
                                        <div class="card_list">
                                            <img src="/images/icon_ser11.png" width="80" height="78" alt="" />
                                            <h4>สิ่งอำนวยความสะดวกสำหรับคนพิการ</h4>
                                            <p>
                                                @foreach (var x in Model.EventFacilities.Where(a => a.MEventFacilitiesTopicId == 5))
                                                {
                                                    @x.EventFacilitiesName @x.FacilitiesAmount @x.FacilitiesUnit <br />
                                                }
                                            </p>
                                        </div>
                                    }
                                    @if (@Model.EventFacilities.Any(a => a.MEventFacilitiesTopicId == 6))
                                    {
                                        <div class="card_list">
                                            <img src="/images/icon_ser12.png" width="80" height="78" alt="" />
                                            <h4>เบ็ดเตล็ด</h4>
                                            <p>
                                                @foreach (var x in Model.EventFacilities.Where(a => a.MEventFacilitiesTopicId == 6))
                                                {
                                                    @x.EventFacilitiesName @x.FacilitiesAmount @x.FacilitiesUnit <br />
                                                }
                                            </p>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingFour4">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                                   aria-expanded="false" aria-controls="collapseFour4">
                                    <h4 class="mb-0"> แสดงความคิดเห็น <i class="fa fa-angle-down rotate-icon"></i> </h4>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
                                 data-parent="#accordionEx">
                                <div class="card-body">

                                    <div class="comments">
                                        <ul id="ulComment">
                                            <li>
                                                <div class="comment-head">
                                                    <div class="comment-by">Anonymous</div>
                                                    <div class="comment-when">14/1/2563 17:03</div>
                                                </div>
                                                <div class="comment-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor in dui vitae egestas. In sollicitudin metus urna, quis scelerisque nunc consequat id. Aliquam dapibus magna a cursus facilisis.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="comment-head">
                                                    <div class="comment-by">Anonymous</div>
                                                    <div class="comment-when">14/1/2563 17:03</div>
                                                </div>
                                                <div class="comment-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor in dui vitae egestas. In sollicitudin metus urna, quis scelerisque nunc consequat id. Aliquam dapibus magna a cursus facilisis.
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Accordion card -->

                    </div>
                    <!-- Accordion wrapper -->
                    <div class="comment_sec section">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <h3>แสดงความคิดเห็น</h3>
                            <div class="row">
                                <div class="col-sm-11 col-md-11 col-lg-11">
                                    <span class="name">@UserManager.GetUserName(User)</span> <br>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">เขียนความคิดเห็น</label>
                                <textarea class="form-control" id="txtComment" name="txtComment" rows="7"></textarea>
                            </div>
                            <div class="center">
                                <button type="button" class="button darkgreen" onclick="AddComment(@Model.EventId)">ส่ง</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row"> </div>
    </div>
</div>




@section Scripts {

    <script type="text/javascript">
        var routeId = @ViewBag.routeId;
        var model = @Html.Raw(Json.Serialize(Model));
        var eventOrStadiumCode = model.eventCode;
        var appUserId = @ViewBag.AppUserId;

        var address = @Html.Raw(Json.Serialize(ViewBag.Address as Address));

        console.log('routeid=', routeId);
        console.log('appUserId=', appUserId);
        console.log('model=', model);
        console.log('address=', address);
    </script>

    <script src="~/js/pages/events-details.js"></script>


    @*<script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker();
            });
        </script>*@

}


<div class="modal fade bd-example-modal-lg" id="Modal_DeleteEvent" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form action="/Events/DeleteEvent" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div class="heading">ลบกิจกรรม</div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <span>ต้องการลบกิจกรรม @Model.EventName ?</span>
                            <input type="hidden" name="EventId" value="@Model.EventId" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button type="submit" class="button darkgreen">ยืนยัน</button>
                            <button type="button" class="button btn-secondary" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="Modal_AddOrEditVote" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form id="frmXXX">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">ปิด</span>
                    </button>
                    <div>ให้คะแนน</div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                            <div>
                                <h4 class="text-center">
                                    กดเลือกพื่อให้คะแนนกิจกรรม
                                    <br />
                                    @Model.EventName
                                    <br />
                                </h4>

                                @foreach (var x in ViewBag.MVoteType as List<MVoteType>)
                                {
                                    <div class="row">
                                        <div class="col-12">
                                            <p> @x.VoteType</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="5">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="4">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="3">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="2">
                                                <img src="/images/ic_star.png" alt=""><img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                        <div class="col-2">
                                            <p class="rating">
                                                <input type="radio" name="VoteValue_@x.VoteTypeId" value="1">
                                                <img src="/images/ic_star.png" alt="">
                                            </p>
                                        </div>
                                    </div>
                                }


                                </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button id="btnVote" type="button" class="button darkgreen">ให้คะแนน</button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>
